#edd-metrics-wrap .postbox h2 {
	font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}

#edd-metrics-wrap .postbox {
	min-width: 150px;
}

#edd-metrics-wrap .page-title {
	margin-bottom: 2em;
}

.edd-metrics-box {
	border: 1px solid #e5e5e5;
	background-color: #fff;
	padding: 10px;
    line-height: 1;
    box-sizing: border-box;
    text-align: center;
    min-height: 150px;
    display: block;
    text-decoration: none !important;
}

.metrics-details-link {
	border: 1px solid #e5e5e5;
	background-color: #fff;
	box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none !important;
}

.metrics-details-link a {
	text-decoration: none !important;
}

img.details-chart {
	max-width: 150px;
	height: auto;
	display: block;
	margin: 10px auto;
}

.edd-metrics-chart-wrapper {
	margin-bottom: 15px;
	min-height: 200px;
	clear: both;
	position: relative;
}

.edd-metrics-chart-wrapper #circleG {
    top: 49%;
    position: absolute;
    left: 0;
    right: 0;
}

.edd-metrics-box h2 {
	font-size: 32px;
	color: #0073aa;
	margin: 0;
	padding: 0;
	font-weight: bold;
	min-height: 30px;
}

.metrics-big-title {
	font-size: 32px;
	color: #0073aa;
	font-weight: bold;
}

.edd-metrics-box .top-text, .edd-metrics-box .bottom-text {
	color: #999;
	font-size: 14px;
	clear: both;
}

.metrics-positive {
	color: #009900;
	position: relative;
}

.metrics-uparrow:before {
	content: '';
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #009900;
	position: absolute;
    left: -15px;
    bottom: 5px;
}

.metrics-negative {
	color: #cc0000;
	position: relative;
}

.metrics-downarrow:before {
	content: '';
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #cc0000;
	position: absolute;
    left: -15px;
    bottom: 5px;
}

.metrics-positive .status-wrap {
	background-color: #009900;
}

.metrics-negative .status-wrap {
	background-color: #cc0000;
}

.metrics-nochange .status-wrap {
	background-color: #999;
}

.status-wrap {
	color: #fff !important;
	padding: 3px;
	border-radius: 3px;
}

/* Reverse colors for refunds and discounts, cause down is good */
#refunds-compare .metrics-negative, #discounts-compare .metrics-negative {
	color: #009900;
}

#refunds-compare .metrics-positive, #discounts-compare .metrics-positive {
	color: #cc0000;
}

#refunds-compare .metrics-downarrow:before, #discounts-compare .metrics-downarrow:before {
	content: '';
	border-top-color: #009900;
}

#refunds-compare .metrics-uparrow:before, #discounts-compare .metrics-uparrow:before {
	content: '';
	border-bottom-color: #cc0000;
}

.metrics-select {
	float: right;
}

.metrics-sidebar ul {
	padding: 0;
}

.metrics-sidebar li {
	border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin-bottom: 0;
}

.metrics-sidebar li a {
	text-decoration: none;
	color: #999;
}

.metrics-details-link:hover {
	background-color: #fafafa;
	border-color: #999;
}

.metrics-title2, .edd-metrics-box:hover .metrics-title1 {
	display: none;
}

.edd-metrics-box:hover .metrics-title2 {
	display: block;
}

.daterange {
	width: 29em;
	float: right;
}

body .daterange .dr-selections .dr-preset-list {
	width: 22.5em;
}

.metrics-right {
	float: right;
}

/*** Column Shortcodes ***/

.one-half, .one-third, .two-thirds, .three-fourths, .one-fourth {
	float:left;
	margin-bottom:10px;
	margin-right:2%;
	position:relative;
}

.one-half {
	width: 49%;
}

.one-third {
	width: 32%;
}

.two-thirds {
	width: 66%;
}

.one-fourth {
	width: 23.5%;
}

.three-fourths {
	width: 74%;
}

.last-col {
	clear:right;
	margin-right:0;
}

@media only screen and (max-width:830px) { 
	.one-half, .one-third, .two-thirds, .three-fourths, .one-fourth {
        width: 100%;
        float: none;
    }
}

/** Detail View **/

#box-4 {
	clear: both;
}

/** Loading animation **/

#circleG{
	width:64px;
	margin:auto;
}

.circleG{
	background-color:rgba(255,255,255,0.86);
	float:left;
	height:14px;
	margin-left:7px;
	width:14px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:1.3675s;
		-o-animation-duration:1.3675s;
		-ms-animation-duration:1.3675s;
		-webkit-animation-duration:1.3675s;
		-moz-animation-duration:1.3675s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:9px;
		-o-border-radius:9px;
		-ms-border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
}

#circleG_1{
	animation-delay:0.2695s;
		-o-animation-delay:0.2695s;
		-ms-animation-delay:0.2695s;
		-webkit-animation-delay:0.2695s;
		-moz-animation-delay:0.2695s;
}

#circleG_2{
	animation-delay:0.6355s;
		-o-animation-delay:0.6355s;
		-ms-animation-delay:0.6355s;
		-webkit-animation-delay:0.6355s;
		-moz-animation-delay:0.6355s;
}

#circleG_3{
	animation-delay:0.8185s;
		-o-animation-delay:0.8185s;
		-ms-animation-delay:0.8185s;
		-webkit-animation-delay:0.8185s;
		-moz-animation-delay:0.8185s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgba(112,112,112,0.84);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgba(112,112,112,0.84);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgba(112,112,112,0.84);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgba(112,112,112,0.84);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgba(112,112,112,0.84);
	}

	100%{}
}